<% provide(:title, "Manage Teams") %>

<div class="row">
  <div class="col-md-12">
    <p>This page lets you manage the teams taking part in each Sodbury Challenge.</p>
  </div>
</div>

<% count = 1 %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @challenges.order(date: :DESC).each_with_index do |challenge, idx| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= idx %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= idx %>" aria-expanded="false" aria-controls="collapse<%= idx %>">
            <%= challenge.time_allowed %> Hour - <%= challenge.date.strftime("%-d %B %Y") %>
          </a>
        </h4>
      </div>

      <div id="collapse<%= idx %>" class="panel-collapse collapse<%= is_current_year(challenge) %>" role="tabpanel" aria-labelledby="heading<%= idx %>">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 col-xs-12 wide-table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <!-- <th>Number</th> -->
                    <th>Name</th>
                    <th>Group</th>
                    <th>Members</th>
                    <th>Start Time</th>
                    <th colspan="2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% challenge.teams.order(:planned_start_time).each do |team| %>
                    <tr>
                      <!-- <td><%= count %></td> -->
                      <td><%= team.name %></td>
                      <td><%= team.group.to_s.titleize %></td>
                      <td><%= team.members.size %></td>
                      <td><%= start_time(team) %></td>
                      <td><%= link_to "Edit", edit_team_path(team) %></td>
                      <td><%= link_to "Score", score_team_path(team) %><% if team.score %>&nbsp;&nbsp;&#10003;<% end %></td>
                    </tr>
                    <% count += 1 %>
                  <% end %>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-3 vspace">
                  <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New Team"), new_team_path(challenge: challenge.id), :class=>'btn btn-block btn-success' %>
                </div>
                <div class="col-md-4 vspace">
                  <%= link_to raw("<span class=\"glyphicon glyphicon-circle-arrow-down\"></span> Download #{challenge.date.year} Start Times as PDF"), teams_path(date: challenge.date, format: :pdf), :class=>'btn btn-block btn-default' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
