<% provide(:title, "Manage Teams") %>

<div class="row">
  <div class="col-md-12">
    <p>This page lets you manage the teams taking part in this year's Sodbury Challenge.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Group</th>
          <th>Start Time</th>
          <th>Score</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <% @teams.each do |team| %>
            <tr>
              <td><%= team.number %></td>
              <td><%= team.name %></td>
              <td><%= team.group %></td>
              <td><%= team.nominal_start_time %></td>
              <td><%= team.score %></td>
              <td><%= link_to "Manage", edit_team_path(team) %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-3 vspace">
    <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New Team"), new_team_path, :class=>'btn btn-block btn-success' %>
  </div>
  <div class="col-md-3 vspace">
    <%= link_to raw("<span class=\"glyphicon glyphicon-circle-arrow-down\"></span> Download as PDF"), teams_path(format: :pdf), :class=>'btn btn-block btn-default' %>
  </div>
</div>
