<div class="jumbotron center">
  <h1>Official Start Times</h1>
  <br />
  <p>Please arrive 45 minutes before your start time for check-in, inspection
     and route planning.</p>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Please Note</h4>
      </div>
      <div class="panel-body">
        <h4>
          <ul>
            <li>The actual finish time could be up to 30 minutes after the expected finish
            time.</li>
            <br />
            <li>Expected finish times will update as teams start on the course.</li>
          </ul>
        </h4>
      </div>
    </div>
  </div>
</div>

<% count = 1 %>
<% @challenges.order(:time_allowed).each do |challenge| %>
<div class="row vspace">
  <div class="col-md-12 col-xs-12">
    <h3><%= challenge.time_allowed %> Hour Challenge</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sx-12 wide-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Team Number</th>
          <th>Name</th>
          <th>Group</th>
          <th>Planned Start Time</th>
          <th>Expected Finish Time</th>
        </tr>
      </thead>
      <tbody>
        <% challenge.teams.order(:planned_start_time).each do |team| %>
          <tr>
            <td><%= count %></td>
            <td><%= team.name %></td>
            <td><%= team.group.to_s.titleize %></td>
            <td><%= team.planned_start_time %></td>
            <td><%= finish_time(team) %></td>
          </tr>
          <% count += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
