<% content_for :head do %>
  <meta http-equiv="refresh" content="600">
<% end %>
<%= content_for(:body_attributes) do %> data-no-turbolink <% end %>

<div class="jumbotron center">
  <h1>Previous Results</h1>
</div>

<% @challenges.order(date: :desc, time_allowed: :asc).each_with_index do |challenge, idx| %>
  <% if challenge.published? && challenge.teams.size > 0 %>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%= idx %>">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= idx %>" aria-expanded="true" aria-controls="collapse<%= idx %>">
              <%= challenge.date.year %> - <%= challenge.time_allowed %> Hour
            </a>
          </h4>
        </div>
        <div id="collapse<%= idx %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% scout_teams = challenge.teams.where(group: 0).where(disqualified: false) %>
            <% explorer_teams = challenge.teams.where(group: 1).where(disqualified: false) %>
            <% non_competitive_teams = challenge.teams.where(group: 2).where(disqualified: false) %>
            <% network_leader_teams = challenge.teams.where(group: [3, 4]).where(disqualified: false) %>
            <% disqualified_teams = challenge.teams.where(disqualified: true) %>
            <div class="row vspace">
              <div class="col-md-12 col-xs-12">
                <h2><%= challenge.date.year %> - <%= challenge.time_allowed %> Hour Challenge</h2>
                <hr />
              </div>
            </div>
            <% if scout_teams.size > 0 %>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12">
                  <h3>Scouts</h3>
                </div>
              </div>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12 wide-table">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% position = 1 %>
                      <% scout_teams.order(:score).reverse.each do |team| %>
                        <tr>
                          <td><%= position.ordinalize %></td>
                          <td><%= team.name %></td>
                          <td><%= team.score %></td>
                          <% position += 1 %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
            <% if explorer_teams.size > 0 %>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12">
                  <h3>Explorers</h3>
                </div>
              </div>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12 wide-table">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% position = 1 %>
                      <% explorer_teams.order(:score).reverse.each do |team| %>
                        <tr>
                          <td><%= position.ordinalize %></td>
                          <td><%= team.name %></td>
                          <td><%= team.score %></td>
                          <% position += 1 %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
            <% if network_leader_teams.size > 0 %>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12">
                  <h3>Network &amp; Leaders</h3>
                </div>
              </div>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12 wide-table">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% position = 1 %>
                      <% network_leader_teams.order(:score).reverse.each do |team| %>
                        <tr>
                          <td><%= position.ordinalize %></td>
                          <td><%= team.name %></td>
                          <td><%= team.score %></td>
                          <% position += 1 %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
            <% if (non_competitive_teams.size + disqualified_teams.size) > 0 %>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12">
                  <h3>Non Competitive</h3>
                </div>
              </div>
              <div class="row vspace">
                <div class="col-md-12 col-xs-12 wide-table">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% non_competitive_teams.order(:score).reverse.each do |team| %>
                        <tr>
                          <td>&nbsp;&ndash;</td>
                          <td><%= team.name %> (N/C)</td>
                          <td><%= team.score %></td>
                        </tr>
                      <% end %>
                      <% disqualified_teams.order(:score).reverse.each do |team| %>
                        <tr>
                          <td>&nbsp;&ndash;</td>
                          <td><%= team.name %> (Disqualified: <%= reason_for_disqualification(team) %>)</td>
                          <td><%= team.score %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <br />
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
