<%= form_for(@checkpoint) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>


  <div class="field">
    <%= f.label :CheckpointID, "ID" %><br>
    <%= f.number_field :CheckpointID %>
  </div>
  <div class="field">
    <%= f.label :GridReference, "Grid Reference" %><br>
    <%= f.text_field :GridReference %>
  </div>
  <div class="field">
    <%= f.label :CheckpointDescription, "Description" %><br>
    <%= f.text_field :CheckpointDescription %>
  </div>
  <div class="actions">
    <div class="row">
      <div class="col-md-2">
        <%= f.submit :class=>'btn btn-primary' %>
        <br>
      </div>
    </div>

  </div>
<% end %>
