<% provide(:title, "Master Checkpoint List") %>

<div class="row">
  <div class="col-md-2">
    <%= link_to raw("<span class=\"glyphicon glyphicon-plus\"></span> New Checkpoint"), new_checkpoint_path, :class=>'btn btn-success' %>
  </div>
  <div class="col-md-2">
    <%= link_to raw("<span class=\"glyphicon glyphicon-floppy-disk\"></span> Save as PDF"), checkpoints_path(:format => "pdf"), :class=>'btn btn-danger' %>
  </div>
</div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Grid Reference</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkpoints.each do |checkpoint| %>
      <tr>
        <td><%= checkpoint.CheckpointID %></td>
        <td><%= checkpoint.GridReference %></td>
        <td><%= checkpoint.CheckpointDescription %></td>
        <td><%= link_to raw("<span class=\"glyphicon glyphicon-eye-open\"></span> Show"), checkpoint %></td>
        <td><%= link_to raw("<span class=\"glyphicon glyphicon-pencil\"></span> Edit"), edit_checkpoint_path(checkpoint) %></td>
        <td><%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span> Delete"), checkpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
