<% provide(:title, "Checkpoint ##{@checkpoint.CheckpointID}") %>

<p>
  <strong>ID:</strong>
  <%= @checkpoint.CheckpointID %>
</p>

<p>
  <strong>Grid Reference:</strong>
  <%= @checkpoint.GridReference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @checkpoint.CheckpointDescription %>
</p>

<%= link_to 'Edit', edit_checkpoint_path(@checkpoint) %> |
<%= link_to 'Back', checkpoints_path %>
