<% provide(:title, "Manage Your Account") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>Update your name, email address and password.</p>
  </div>
</div>

<!--
  TODO: The `novalidate` attribute is applied to the form to prevent
    Bootstrap's (somewhat lacking) email validator from running *in addition*
    to the (slightly less lacking) Rails email validator. This behaviour needs
    an integration test!
-->
<%= form_for(@user, html: { novalidate: true }) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3 vspace">
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
    <div class="col-md-3 vspace">
      <%= link_to "Cancel", users_path, class: "btn btn-block btn-default" %>
    </div>
  </div>
<% end %>
