<tr>
  <td><%= challenge.date.strftime("%-d %B %Y") %></td>
  <td><%= challenge.time_allowed %> hours</td>
  <td><%= challenge.teams.size %></td>
  <td><%= challenge.goals.size %></td>
  <td><%= points_available(challenge) %></td>
  <td><%= link_to (challenge.published? && "View") || "Manage", challenge_path(challenge) %></td>
  <% if challenge.published? %>
    <!-- Link to view results -->
  <% else %>
    <td><%= link_to "Publish", '#',
      data: { confirm: "Publish results for the #{challenge.time_allowed} hour challenge? " \
                       "Published routes and scores cannot be edited." } %>
    </td>
  <% end %>
</tr>
